@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";
@import "~primeng/resources/themes/omega/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~primeicons/primeicons.css";
@include mat-core();
$primary: mat-palette($mat-cyan, 600);
$accent: mat-palette($mat-green, 600, 100, 800);
$warn: mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

.page-background{
  //background: linear-gradient(to left, #546E7A 51%, #424242 100%);
//background: linear-gradient(to left, #00acc159 51%, #343b3e 100%);

}

.mat-drawer-container {
  //background: linear-gradient(to left, #546E7A 51%, #424242 100%);
  //background: linear-gradient(to left, #00acc159 51%, #343b3e 100%);
  color: #fafafa;
}
.mat-toolbar.mat-primary {
  //background: linear-gradient(to left, #00acc159 51%, #343b3e 100%);
  color: white;
}
.card-design{

  margin: 25px;
  //background :#78909C;
  //background: #78909c94;

  //border-radius: 30px;
}
.mat-icon-button:focus,.mat-icon-button:active {
  outline: none !important;
  box-shadow: none;
}
.mat-raised-button:focus,.mat-raised-button:active{
  outline: none !important;
  box-shadow: none;
}

.card-title-color{
  color: #59d5e4;
  font-family: serif;
  margin-bottom: 5%;
}
.button-align{
  margin-left: 43%;
  margin-top: 25px;
}
tr.mat-row:hover {
  background: linear-gradient(to left, #bee6eb 51%, #bee6eb 100%);
}
.mat-cell{
  color: rgba(0, 0, 0, 0.54);
  font-weight: 700;
}
.ui-menuitem-text{
  margin-left: 25px !important;
}
.ui-panelmenu .ui-panelmenu-content .ui-menuitem-link {
  color: #222222;
  margin: 5px;
}
.ui-panelmenu .ui-panelmenu-header.ui-state-active, .ui-panelmenu .ui-panelmenu-header.ui-state-active a {
  border-color: #00acc1;
  background: #00acc1;
  color: #FFFFFF;
}
.ui-state-active {
  border-color: #bee6eb;
  background-color: #bee6eb;
  color: #212121;
}
.image-thumbnail {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  //margin: -40px 0px;
}
.mat-raised-button {
  margin: 5px !important;
}
