.main-page{
margin : 15px;
}
.example-card {
  max-width: 400px;
}
.image-size{
  max-width: 300px;
  max-height: 300x;
}
.example-header-image {
  background-image: url('../../../assets/images/Chrysanthemum.jpg');
  background-size: cover;
}
